<p>User Details</p>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>{{test.id}}</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{test.username}}</td>
    </tr>
    <tr>
        <td>Firstname</td>
        <td>{{test.firstname}}</td>
    </tr>
    <tr>
        <td>Lastname</td>
        <td>{{test.lastname}}</td>
    </tr>
    <tr>
        <td>EmailId</td>
        <td>{{test.emailId}}</td>
    </tr>
    <tr>
        <td>Bithdate</td>
        <td>{{test.bithdate}}</td>
    </tr>
    <!-- <tr>
        <td>ID</td>
        <td>{{test.id}}</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{test.id}}</td>
    </tr> -->
</table>
